.aside{
    background-image:$color-3;
    grid-area: aside;
    margin-top: 5vh;
    text-align: center;
    height: 100%;
    margin-top: 10vh;

}
.aside-h3{
    margin-top: 5vh;
}
.grid-aside{
    margin-top: 10vh;
    display: grid;
    flex-direction: column;
    img{
        width: 95%;
        height: 40vh;
    }

}

