.footer{
    background-color: $color-4;
    grid-area: footer;
    height: 100%;
    color: white;
}
.pie-pagina{
    width: 100%;
    text-align: center;
}
.pie-pagina .grupo-1{
    width: 100%;
    margin: 4vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    .box1 h3{
        margin-bottom: 4vh;
    }
    .red-social a{
        display: inline-block;
        text-decoration: none;
        width: 3vw;
        height: 5vh;
        line-height: 5vh;
        margin-top: 2vh;
        color: $color-blanco;
        background-color: $color-red-social;
        &:hover{
            color: aqua;
        }
    }
}
.pie-pagina .grupo-2{
    background-color: $color-negro;
    padding: 1rem;
    small{
        font-size: 15px;
    }
}
@media screen and(max-width:912px){

    .pie-pagina .grupo-2{
        background-color: $color-negro;
        padding: 1rem;
        small{
            font-size: 15px;
        }
    }
    .pie-pagina .grupo-1{
        width: 90%;
        padding-right: 17px;
        margin-right: 15px;
        display: grid;
        grid-template-columns: repeat(1,1fr);

        .box1 h3{
            margin-bottom: 4vh;
        }
        .box1 p{
            text-align: center;
        }
        .red-social a{
            display: inline-block;
            text-decoration: none;
            width: 8vw;
            height: 5vh;
            line-height: 5vh;
            margin: 1vh 1vh 2vh 1vh;
            color: $color-blanco;
            background-color: $color-red-social;
        }
    }

    
}
@media screen and(max-width:280px){
    iframe{
        width: 240px;
    }
    .pie-pagina .grupo-1{
        width: 90%;
        
        margin-right: 4vh;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        .box1 h3{
            margin-bottom: 4vh;
        }
        .box1 p{
            text-align: center;
        }
        .red-social a{
            display: inline-block;
            text-decoration: none;
            width: 8vw;
            height: 5vh;
            line-height: 5vh;
            
            color: $color-blanco;
            background-color: $color-red-social;
        }
    }

    
}
