.header{
    background-image:$color-1;
    grid-area: header;
    z-index: 2;
    position: fixed;
    width: 100%;
}
.header-red{
    display: flex;
    justify-content: space-between;
    margin-right: 4vw;
    .red-social a{
        display: inline-block;
        text-decoration: none;
        width: 3vw;
        height: 5vh;
        line-height: 5vh;
        margin-top: 2vh;
        margin-left: 4hw;
        color: $color-blanco;
        background-color: $color-red-social;
        text-align: center;
        &:hover{
            color: aqua;
        }
    }
    
    

}

.container-fluid{
    height: 1.5rem;
}
@media screen and (max-width: 988px) {
    .container-fluid{
        height: auto;
    }
    
}
@media screen and(max-width: 840px) {
    .header-red{
        display: flex;
        justify-content: start;
        margin-right: 4vw;
        .red-social a{
            display: none;
            
        }
        
        
    
    }
}