.imagen1{
    margin-top: 5vh;
    border-radius: 50%;
    width: 300px;
    height: 250px;
}
img{
    margin-bottom: 5vh;
}

.img-thumbnail:hover{
   transform: scale(1.1, 1.1);
}
.img-inicio{
    width: 87%;
    height: 85vh;
}
