
img{
    margin-bottom: 5vh;
}
.img-inicio{
    width: 90%;
    height: 85vh;
   object-fit: cover;
}
.rounded{
    object-fit: cover;
}
@media screen and (max-width:500px) {
    .img-inicio{
        width: 400px;
        height: 500px;
        object-fit: cover;
    }
    
}