$redes: (
    facebook:#3a5795,
    instagram:#ff0095,
    twitter:#55acee,
    e-mail:#c25e30,
);

.redesSociales{
    border: 2px white outset;
    color: $color-blanco;
    text-decoration: none;
    &:hover{
        background-color:  rgba(0, 0, 0, 0);
    }
}

@each $red, $color in $redes{
    .btn--#{$red}{
        background-color: $color;
        @extend .redesSociales
        }
}


@mixin sizes($width,$height) {
    width: $width;
    height: $height;
    
}
.box{
    @include sizes(500px, 500px )
}







