.grid-area{
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main aside"
    "main main aside"
    "footer footer footer" ;
    grid-template-columns: 40% 40% 20%;

}

@media screen  and (max-width: 1200px){

    .grid-area{
        display: grid;
        grid-template-areas: 
        "header header header"
        "nav nav nav"
        "main main aside"
        "main main aside"
        "footer footer footer" ;
        grid-template-columns: 40% 40% 20%;
        column-gap: 10px;
        row-gap: 10px;
    }
    .grid-galeria{
        display: grid;
        grid-template-areas:
        "foto-1 foto-2 foto-3"
        "foto-4 foto-5 foto-6"
        "foto-7 foto-8 foto-9" ;
        justify-content: center;
        row-gap: 5px;
        column-gap: 5px;
    }
    .main{
        margin-top: 5vh;
    }
    .aside{
        margin-top: 5vh;
    }
    .footer{
        margin-top: 5vh;
    }
}

@media screen and (max-width: 1024px){
    .main{
        margin-top: 10vh;
    }
    .aside{
        margin-top: 10vh;
    }
    .footer{
        margin-top: 5vh;
    }
}
@media screen and (max-width: 912px){
    .main{
        margin-top: 5vh;
    }
    .aside{
        margin-top: 5vh;
    }
    .footer{
        margin-top: 5vh;
    }
     .flex-aside{
        display: flex;
        flex-direction: row;
    
    }
}
@media screen and (max-width: 820px){
    .main{
        margin-top: 5vh;
    }
    .aside{
        margin-top: 5vh;
    }
    .footer{
        margin-top: 5vh;
    }
    .flex-aside{
        display: flex;
        flex-direction: row;
    
    }
}



@media screen and (max-width: 768px) {

    .grid-area{
        display: grid;
        grid-template-areas: 
        "header header header"
        "nav nav nav"
        "main main main"
        "aside aside aside"
        "footer footer footer" ;
        grid-template-columns: 40% 40% 20%;
        column-gap: 10px;
        row-gap: 10px;
    }
    .grid-galeria{
        display: grid;
        grid-template-areas:
        "foto-1 foto-2 foto-3"
        "foto-4 foto-5 foto-6"
        "foto-7 foto-8 foto-9" ;
        justify-content: center;

        row-gap: 5px;
        column-gap: 5px;
    }
    .main{
        margin-top: 6vh;
    }
    .aside{
        margin-top: 6vh;
    }
    .footer{
        margin-top: 5vh;
    }
    .flex-aside{
        display: flex;
        flex-direction: row;
    
    }
}


@media screen and (max-width: 600px) {
    .container-cabaña{
        height: 100%;
    }
    .container{
        height:100%;
    }
    .grid-galeria{
        display: grid;
        grid-template-areas:
        "foto-1 foto-2"
        "foto-3 foto-4"
        "foto-5 foto-6" 
        "foto-7 foto-8";
        justify-content: center;
        row-gap: 5px;
        column-gap: 5px;
    }
    .flex-aside{
        display: flex;
        flex-direction: row;
    
    }
}

@media screen and (max-width: 480px) {
    .container{
        height: 100%;
    }
    .grid-galeria{
        display: grid;
        grid-template-areas:
        "foto-1"
        "foto-2"
        "foto-3" 
        "foto-4"
        "foto-5"
        "foto-6"
        "foto-7"
        "foto-8";
        justify-content: center;
        row-gap: 5px;
        column-gap: 5px;
    }
    .flex-aside{
        display: flex;
        flex-direction: row;
    
    }
} 