h1{
    font-family: $ff1;
    margin: 4vh;
}
h2{
    color: $color-blanco;
    font-family:$ff2 ;
}
h3{
    color:$color-blanco;
    font-family:$ff2 ;
}
.h3-contacto{
    color: $color-blanco;
    margin-top: 5vh;
}


h1 a{
    color: #ffffff;
    text-decoration: none;
    &:hover{
        color: grey;
     
    }
}
.aside-h3{
    color: $color-blanco;
    margin-top: 5vh;
}
.main-h2{
    color: $color-blanco;
    margin-top: 5vh;
}

.nombresCabañas{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    margin-top: 2rem;
    color:$color-blanco;
}
p{
    color: $color-blanco;
}