h1{
    height: 2.3rem;
    font-family: $ff1;
    margin: 4vh;
    
}
h2{
    color: $color-blanco;
    font-family:$ff2 ;
}
h3{
    color:$color-blanco;
    font-family:$ff2 ;
}
.h3-contacto{
    color: $color-blanco;
    margin-top: 5vh;
}


h1 a{
    font-size: 100%;
    color: #ffffff;
    text-decoration: none;
    &:hover{
        color: grey;
     
    }
}




p{
    color: $color-blanco;
}
.p-precio{
    font-family:$ff-horarios;
    color: $color-horarios
}
