h1 {
  height: 2.3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 4vh;
}

h2 {
  color: white;
  font-family: sans-serif;
}

h3 {
  color: white;
  font-family: sans-serif;
}

.h3-contacto {
  color: white;
  margin-top: 5vh;
}

h1 a {
  font-size: 100%;
  color: #ffffff;
  text-decoration: none;
}

h1 a:hover {
  color: grey;
}

p {
  color: white;
}

.p-precio {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: tomato;
}

@media screen and (max-width: 296px) {
  h1 a {
    font-size: 24px;
  }
}

.main {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#493535), to(#070725));
  background-image: linear-gradient(to bottom, #493535, #070725);
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 60px;
}

.main-h2 {
  color: white;
  margin-top: 55px;
  margin-bottom: 30px;
}

.caja-precios {
  color: white;
  text-align: start;
  margin-right: 30px;
}

.caja-precios li {
  list-style: none;
}

.servicios {
  text-align: center;
  margin-right: 30px;
}

.servicios u {
  font-size: 32px;
  color: white;
}

.servicios li {
  color: white;
  list-style: none;
  font-size: 20px;
  text-align: start;
}

@media screen and (max-width: 840px) {
  .main-h2 {
    margin-top: 20px;
  }
  .main {
    margin-top: 30px;
    height: 105%;
  }
}

@media screen and (max-width: 820px) {
  .servicios li {
    color: white;
    list-style: none;
    font-size: 20px;
    text-align: center;
  }
}

.header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#493535), to(#070725));
  background-image: linear-gradient(to bottom, #493535, #070725);
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  z-index: 2;
  position: fixed;
  width: 100%;
}

.header-red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 4vw;
}

.header-red .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 3vw;
  height: 5vh;
  line-height: 5vh;
  margin-top: 1vh;
  margin-left: 4hw;
  color: white;
  background-color: #212529;
  text-align: center;
}

.header-red .red-social a:hover {
  color: aqua;
}

.container-fluid {
  height: 1.5rem;
}

@media screen and (max-width: 988px) {
  .container-fluid {
    height: auto;
  }
}

@media screen and (max-width: 840px) {
  .header-red {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-right: 4vw;
  }
  .header-red .red-social a {
    display: none;
  }
}

.footer {
  background-color: #0b0b0b;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  height: 100%;
  color: white;
  margin-top: 0%;
}

.pie-pagina {
  width: 100%;
  text-align: center;
}

.pie-pagina .grupo-1 {
  width: 100%;
  margin: 4vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.pie-pagina .grupo-1 .box1 h3 {
  margin-bottom: 4vh;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 3vw;
  height: 5vh;
  line-height: 5vh;
  margin-top: 2vh;
  color: white;
  background-color: #212529;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua;
}

.pie-pagina .grupo-2 {
  background-color: black;
  padding: 1rem;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 912px) {
  .footer {
    height: 90%;
  }
  .pie-pagina .grupo-2 {
    background-color: black;
    padding: 1rem;
  }
  .pie-pagina .grupo-2 small {
    font-size: 15px;
  }
  .pie-pagina .grupo-1 {
    width: 90%;
    padding-right: 17px;
    margin-right: 15px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .pie-pagina .grupo-1 .box1 h3 {
    margin-bottom: 4vh;
  }
  .pie-pagina .grupo-1 .box1 p {
    text-align: center;
  }
  .pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 8vw;
    height: 5vh;
    line-height: 5vh;
    margin: 1vh 1vh 2vh 1vh;
    color: white;
    background-color: #212529;
  }
}

@media screen and (max-width: 280px) {
  iframe {
    width: 240px;
  }
  .pie-pagina .grupo-1 {
    width: 90%;
    margin-right: 4vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .pie-pagina .grupo-1 .box1 h3 {
    margin-bottom: 4vh;
  }
  .pie-pagina .grupo-1 .box1 p {
    text-align: center;
  }
  .pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 8vw;
    height: 5vh;
    line-height: 5vh;
    color: white;
    background-color: #212529;
  }
}

.aside {
  margin-top: 10vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#493535), to(#070725));
  background-image: linear-gradient(to bottom, #493535, #070725);
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: aside;
  text-align: start;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.grid-aside {
  margin-top: 21vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid-aside img {
  width: 100%;
  height: 40vh;
}

.grid-area {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header header" "nav nav nav" "main main aside" "main main aside" "footer footer footer";
  -ms-grid-columns: 40% 40% 20%;
      grid-template-columns: 40% 40% 20%;
}

@media screen and (max-width: 1200px) {
  .grid-area {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header header header" "nav nav nav" "main main aside" "main main aside" "footer footer footer";
    -ms-grid-columns: 40% 40% 20%;
        grid-template-columns: 40% 40% 20%;
  }
  .aside {
    margin-top: 5vh;
  }
  .footer {
    margin-top: 5vh;
  }
}

@media screen and (max-width: 1024px) {
  .aside {
    margin-top: 10vh;
  }
  .footer {
    margin-top: 5vh;
  }
}

@media screen and (max-width: 912px) {
  .grid-area {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header header header" "nav nav nav" "main main main" "aside aside aside" "footer footer footer";
    -ms-grid-columns: 40% 40% 20%;
        grid-template-columns: 40% 40% 20%;
  }
  .caja {
    margin-top: 15vh;
  }
  .aside {
    display: none;
  }
  .grid-aside {
    margin-top: 6vh;
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grid-aside img {
    width: 95%;
    height: 40vh;
    margin-right: 1vh;
  }
  .footer {
    margin-top: 5vh;
  }
  .flex-aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 820px) {
  .aside {
    margin-top: 5vh;
  }
  .footer {
    margin-top: 5vh;
  }
  .flex-aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 768px) {
  .aside {
    margin-top: 6vh;
  }
  .footer {
    margin-top: 5vh;
  }
  .flex-aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 480px) {
  .container {
    height: 100%;
  }
  .flex-aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

img {
  margin-bottom: 5vh;
}

.img-inicio {
  width: 90%;
  height: 85vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.rounded {
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 500px) {
  .img-inicio {
    width: 400px;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

html, body {
  width: 100% !important;
  overflow-x: hidden !important;
}

.galeria {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

img {
  width: 100%;
}

.columna {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  padding: 3px;
}

.columna img {
  margin: 3px 0 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 800px) {
  .columna {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}

@media (max-width: 600px) {
  .columna {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}

.formulario {
  width: 400px;
  background-color: #24303c;
  padding: 30px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 4px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.formulario h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.formulario p {
  text-align: start;
  font-size: 18px;
}

.formulario select {
  background-color: #24303c;
  border: 1px solid #1f53c5;
}

.formulario .inputs {
  width: 100%;
  color: white;
  background-color: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}

.formulario .boton {
  width: 100%;
  background-color: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 18px;
}

.formulario textarea {
  background-color: #24303c;
  border: 1px solid #1f53c5;
  color: white;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .formulario {
    width: 96%;
  }
}
/*# sourceMappingURL=estilos.css.map */